.app {
  width: 100vw;
  min-height: 100vh;
  background-color: #EDEDED;
  overflow-y: auto;
  overflow-x: hidden;
}

.case-study-app {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #EDEDED;
}
